:root {
  font-family: 'Victor Mono', monospace;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  height: 100dvh;
  overflow: hidden;
}

#app {
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  background: url('@/../public/nasa-moon-phases.gif');

  width: 100dvw;
  height: 100dvh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.calendars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: grid;
  overflow: hidden;
}

.container {
  mix-blend-mode: screen;
  display: grid;
}

table {
  margin: -2px;
  border-spacing: 4px;
}

th, td {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

td:not(.current), .friday, .day-name {
  background: #8886;
}

.container:not(.lunar-calendar) {
  z-index: 100;
}

.--table1 {
  font-size: 3dvh;
  line-height: 100%;
  font-weight: bold;
}

@media (orientation: landscape) {
  .calendars {
    grid-template-rows: repeat(2, 1fr);
  }

  .container {
    grid-template-columns: 1fr 2fr 1fr;
  }
}
@media (orientation: portrait) {

  .greg-calendar {
    grid-area: sun;
  }

  .moon-calendar {
    grid-area: moon;
  }

  .calendars {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "moon sun";
  }

  .container {
    grid-template-rows: 1fr 2fr 1fr;
  }

  .greg-calendar .--table1,
  .moon-calendar .--table1 {
    letter-spacing: -0.35ch;
    text-align: left;
  }
}