:root {
  font-family: 'Victor Mono', monospace;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  height: 100dvh;
  overflow: hidden;
}

#app {
  margin: 0 auto;
  text-align: center;
}

@media (orientation: landscape) {
  .table {
    height: 50dvh !important;
  }

  .table.--table0,
  .table.--table2 {
    width: 50dvw !important;
  }
}
@media (orientation: portrait) {
  .table.--table0,
  .table.--table2 {
    height: 25dvh;
  }
}

table {
  font-size: 3vmin;
}

thead {
  height: calc((3vmin + 0.5rem) * 2);
}

.table.--table0,
.table.--table2 {
  font-size: 100%;
}

td {
  padding: 0.25rem;
}

th {
  padding: 0.25rem 0;
}